<nav>
  <ul class="nav-list">
    <li><a href="/">Home</a></li>
    <li><a href="#cars">Inventory</a></li>
    <li><a href="#about">About Us</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
