<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= title || 'W01 Site' %></title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/styles.css" />
    <script src="/public/js/script.js"></script>
    <li><img src="/public/images/vehicles/delorean.jpg" alt="Delorean"> Delorean Car</li>

  </head>
  <body>
    <%- include('partials/header') %>
    <main class="container">
      <%- body %>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>