<%- include('partials/header') %>

<main class="wrap">
  <section class="hero">
    <h2>Welcome to CSE Motors!</h2>
  </section>

  <img src="/public/images/vehicles/delorean.jpg" alt="DMC DeLorean" style="max-width: 100%; border-radius: 8px; margin-bottom: 1rem;">

  <div class="promo-card">
    <h3>DMC Delorean</h3>
    <div class="promo-card">
</div>
   <ul>
      <li>3 Cup holders</li>
      <li>Superman doors</li>
      <li>Fuzzy dice!</li>
    </ul>
    <button class="cta">Own Today</button>
  </div>

  <section class="grid-two">
    <div class="upgrades">
      <h4>Delorean Upgrades</h4>
      <ul>
        <li>Flux Capacitor</li>
        <li>Flame Decals</li>
        <li>Bumper Stickers</li>
        <li>Hub Caps</li>
      </ul>
    </div>
    <div class="reviews">
      <h4>DMC Delorean Reviews</h4>
      <ul>
        <li>“It’s almost like time traveling in time.” (4/5)</li>
        <li>“Coolest ride on the road.” (4/5)</li>
        <li>“I’m feeling McFly!” (5/5)</li>
        <li>“The most futuristic ride of our life!” (4.5/5)</li>
        <li>“80’s luvin and I like it!”(5/5)</li>
      </ul>
    </div>
  </section>
</main>

<%- include('partials/footer') %>
